.env
node_modules


/* ---- admin -----
  "email": "influencer3721@gmail.com",
  "password": "Password123",

  ---- buyer  ---
  "email": "pathminirh6@gmail.com",
  "password": "Password123",

  ==buyer ===
  "email": "prasadnewlif@gmail.com ",
  "password" : "pusith123"

  
   ---- seller ----
  "email": "pathminirh26@gmail.com",
  "password": "Password123",
  */